@font-face {
    font-family: "OpenSans";
    src: url("OpenSansRegular.eot");
    src: url("OpenSansRegular.eot?#iefix") format("embedded-opentype"),
    url("OpenSansRegular.woff2") format("woff2"),
    url("OpenSansRegular.woff") format("woff"),
    url("OpenSansRegular.ttf") format("truetype"),
    url('OpenSansRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("OpenSans-Extrabold.eot");
    src: url("OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("OpenSans-Extrabold.woff2") format("woff2"),
    url("OpenSans-Extrabold.woff") format("woff"),
    url("OpenSans-Extrabold.ttf") format("truetype"),
    url('OpenSans-Extrabold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("roboto-700.eot");
    src: url("roboto-700.eot?#iefix") format("embedded-opentype"),
    url("roboto-700.woff") format("woff"),
    url("roboto-700.woff2") format("woff2"),
    url("roboto-700.ttf") format("truetype"),
    url('roboto-700.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("roboto-900.eot");
    src: url("roboto-900.eot?#iefix") format("embedded-opentype"),
    url("roboto-900.woff") format("woff"),
    url("roboto-900.woff2") format("woff2"),
    url("roboto-900.ttf") format("truetype"),
    url('roboto-900.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}